[Desktop Entry]
Type=Application
Name=MyBarrier
Comment=LAN keyboard, clipboard, and file sharing
Exec=MyBarrier
Terminal=false
Categories=Network;Utility;
StartupNotify=true
